@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Quattrocento&family=Satisfy&display=swap");

.main-container {
  background-color: #ce2829;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.basliklar {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #faf7f2;
}
.basliklar h2 {
  margin-top: 0;
  padding-top: 3rem;
}
.tebriks h1 {
  font-size: 2.5rem;
  font-weight: unset;
  margin: 0;
  padding: 0;
  color: #faf7f2;
}
.tebriks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.pagewidth {
  max-width: 50%;
  margin: 0 auto;
}
.lezzetyolda {
  color: #fdc913;
  font-family: "Satisfy";
}
.pizzaName {
  color: #faf7f2;
  text-align: center;
}
.pizzaSelection {
  color: #faf7f2;
  width: 30%;
  margin: 0 auto;
}
.pizzaDetails {
  font-weight: 200;
}
.pizzaTotal {
  color: #faf7f2;
  margin: 2rem auto;
  padding: 2rem;
  border: 2px #faf7f2 solid;
  border-radius: 4px;
  width: 30%;
}

.secimlerFlex {
  display: flex;
  justify-content: space-between;
}
.marginbottom {
  margin-bottom: 3rem;
}
.marginbottom h1 {
  font-size: 5rem;
}
.bold {
  font-weight: bold;
}
